export default {
    'SERVER_URL': 'http://localhost:8080',
    'STORAGE_PREFIX': 'animation-board-v2',
    'CASE': {
        'NUMBER': '京ICP备12345678号',
        'URL': 'http://www.beian.miit.gov.cn'
    },
    'BASIC_SERVICE': {
        'API': 'http://basic-service',
        'FRONTEND': 'http://basic-service'
    }
}